.notes-area {    
    margin-top: 50px;
    display: flex;    
    flex-wrap: wrap;    
}

.notes {
    margin-right: 2rem; 
    margin-bottom: 2rem;   
    cursor: pointer;
}

.notes-area .notes-box:last-child {
    margin-right: 0rem;
}

.notes-box {
    width: 12.5rem;
    height: 11rem;    
    border-radius:  1.5rem;
    padding: 25px;    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notes-box p {
    font-family: 'Rajdhani', sans-serif;
    margin-left: auto;
}

.notes .message-delete-note {
    text-align: center;    
    opacity: 0;
    margin-top: 0.5rem;
    transition: 0.3s;
    transform: translateY(-10px);
}

.notes:hover .message-delete-note {
    opacity: 1;
    transform: translateY(0px);
}