.btn {
    padding: 0.1rem 1.6rem;
    border: 0;
    color: black;    
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    border-radius: 0.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary {
    background-color: white;
    box-shadow: -2px 5px 17px 0px rgb(255 255 255 / 42%);
}

.btn-margin {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.btn-width {
    width: 100%;
}

.btn-delete {
    background-color: #ff0018;
    color: white;
    border:0.18rem solid #ff0018;
}

.btn-delete:hover {    
    background-color: #282A36;
}