.modal {
    background-color: #282A36;
    border: 0.18rem solid #9500FF;
    width: 25rem !important;
    padding: 2rem;
    border-radius: 1rem;

    margin-right: 1rem;
    margin-left: 1rem;
        
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 15rem;
    max-height: max-content;    
}

.modal-body, .modal-footer {
    margin-top: 2rem;
}

.modal-none {
    display: none;
}

.modal-show {
    display: block;
}

.btn-modal-header {
    position: absolute;
    top: 0;
    right: 0;

    top: -1rem;
    right: -1rem;
    background-color: #9500FF;
    color: white;
    border: 0.18rem solid #9500FF;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}